<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Whitelist Management</title>
</head>
<body>
	<h1>VIP Faucet  Whitelist Management</h1>
	<!-- Form to add IP address and memo string -->
	<h3>{{.email}}, you are able to add or update an IP to whiteList </h3>
	<form method="POST" action="/faucet_management">
		<label for="ip">IP Address:</label>
		<input type="text" id="ip" name="ip" required><br><br>
		<label for="memo">Memo:</label>
		<input type="text" id="memo" name="memo" required>(any ; will be removed)<br><br>
		<input type="submit" name="add" value="add">
	</form>
	<h3>{{.email}}, you are able to remove an IP from whiteList </h3>
	<form method="POST" action="/faucet_management">
		<label for="ip">IP Address:</label>
		<input type="text" id="ip" name="ip" required><br><br>
		<input type="submit" name="remove" value="remove">
	</form>
	<h3>{{.email}}, You can open rpc and faucet services to any IPs, but remember to close it </h3>
	<form method="POST" action="/faucet_management">
		<label for="purpose">Purpose:</label>
		<input type="text" id="purpose" name="purpose"><br><br>
		<input type="submit" name="wideopen" value="enable-wide-open">
	</form>
	<form method="POST" action="/faucet_management">
		<input type="submit" name="closewideopen" value="disable-wide-open">
	</form>
	<!-- Display any error messages -->
	{{if .ErrorMessage}}
		<p style="color: red">{{.ErrorMessage}}</p>
	{{end}}

	<!-- Display any success messages -->
	{{if .SuccessMessage}}
		<p style="color: green">{{.SuccessMessage}}</p>
	{{end}}
	<hr>

	<!-- Table to display IP addresses and memo strings in the whitelist -->
	<table>
		<thead>
			<tr>
				<th>IP Address</th>
				<th>Memo</th>
			</tr>
		</thead>
		<tbody>
			{{range .IPMemoList}}
			<tr>
				<td>{{.IP}}</td>
				<td>{{.Memo}}</td>
			</tr>
			{{end}}
		</tbody>
	</table>

</body>
</html>