<!DOCTYPE html>
<html>
<head>
    <title>Login with Google</title>
</head>
<body>
    <pre>
 
____   ____._____________  ___________                           __    
\   \ /   /|   \______   \ \_   _____/____   __ __   ____  _____/  |_  
 \   Y   / |   ||     ___/  |    __) \__  \ |  |  \_/ ___\/ __ \   __\ 
  \     /  |   ||    |      |     \   / __ \|  |  /\  \__\  ___/|  |   
   \___/   |___||____|      \___  /  (____  /____/  \___  >___  >__|   
                                \/        \/            \/    \/       

    </pre>

    <br>
    <a href="/login">Login with Google</a>
</body>
</html>
